.small-img {
  width: 150px;
  height: auto;
}
body {
  background-color: lightblue; 
}

h {
  color: black;
  font-size: 16px;
  text-align:center
}


p {
  color: black;
  font-size: 16px;
  text-align:center
}
