@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.small-img {
  width: 500px;
  height: auto;
}

body {
  background-color: #90EE90;
  text-align: center;
   font-family: "Delius", cursive;
}

h1 {
  color: black;
  font-size: 60px;
}

p {
  color: black;
  font-size: 24px;
}

